/* la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*///////////////////////////////////////////
///////////pour les orndinateurs/////////////
///////////////////////////////////////////*/

body {

    background-color: black;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Secular One', sans-serif;
    text-align: center;

}

/* grand titre */

.title {

    color: white;
    font-size: 1000%;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-top: 0;
    margin-bottom: -4%;
    opacity: 0;
    transform: translateX(-60px);
    animation: apparition 3s 2s ease-out forwards;

}

@keyframes apparition {

    100% {

        opacity: 1;
        transform: none;

    }

}

/* petit titre */

.title2 {

    color: white;
    font-size: 135%;
    text-align: center;
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    margin-bottom: -1%;
    opacity: 0;
    animation: apparition 2.7s 1.7s ease-out forwards;
    transform: translatey(-60px);


}

@keyframes apparition {

    100% {

        opacity: 1;
        transform: none;

    }

}

/* première ligne blanche */

.ligne1 {

    width: 10%;
    color: white;
    margin-bottom: 2%;
    margin-top: -5%;
    opacity: 0;
    transform: translateX(-525px);
    animation: apparition2 4s 3s forwards;
     
}

@keyframes apparition2 {

    100% {

        opacity: 1;
        transform: none;
        width: 88%;

    }

}

/* première image */

.imgtech {

    width: 10%;
    height: 340px;
    margin-bottom: 5%;
    border-radius: 20px 20px 20px 20px;
    opacity: 0;
    animation: apparition3 4s 3s forwards;

}

@keyframes apparition3 {

    100% {

        opacity: 1;
        width: 88%;

    }

}

/* images des blocs */

.imgaccueil {

    margin-left: 16%;
    margin-top: -3%;
    height: 450px;
    width: 72%;
    border-radius: 20px 20px 20px 20px;

}

.imgaccueil2 {

    margin-left: 16%;
    margin-top: -3%;
    height: 450px;
    width: 72%;
    border-radius: 20px 20px 20px 20px;

}

.imgaccueil3 {

    margin-left: 16%;
    margin-top: -3%;
    height: 450px;
    width: 72%;
    border-radius: 20px 20px 20px 20px;

}

.imgaccueil4 {

    margin-left: 16%;
    margin-top: -3%;
    height: 450px;
    width: 72%;
    border-radius: 20px 20px 20px 20px;

}

/* premier bloc */

.paratitre {

    text-align: left;
    color: white;
    font-size: 3em;
    margin-top: -2%;
    line-height: 117%;
    margin-right: 60.5%;
    margin-top: 2.3%;

}

.logo-holder1 {

    width: 180px;
    height: 220px;
    position: relative;
    margin: 0 auto ;
    margin-left: 5%;
    margin-top: 3%;

}

.paragraphe {

    color: white;
    text-align: left;
    margin-left: 22%;
    margin-right: 15%;
    font-size: 1.2em;
    line-height: 160%;
    margin-bottom: 5%;
    margin-top: -3.5%;

}

/* deuxième bloc */

.paratitre2 {

    text-align: left;
    color: white;
    font-size: 3em;
    margin-top: 3%;
    line-height: 117%;
    margin-right: 43%;
    margin-top: 5.5%;

}

.logo-holder2 {

    width: 180px;
    height: 220px;
    position: relative;
    margin: 0 auto ;
    margin-left: 5%;
    margin-top: 7.2%;

}

.paragraphe2 {

    color: white;
    text-align: left;
    margin-left: 22%;
    margin-right: 15%;
    font-size: 1.2em;
    line-height: 160%;
    margin-bottom: 1%;
    margin-top: -3.5%;

}

/* troisième bloc */

.paratitre3 {

    text-align: left;
    color: white;
    font-size: 3em;
    margin-top: 3%;
    line-height: 117%;
    margin-right: 44%;
    margin-top: 5.5%;

}

.logo-holder3 {

    width: 180px;
    height: 220px;
    position: relative;
    margin: 0 auto ;
    margin-left: 5%;
    margin-top: 7.2%;

}

.paragraphe3 {

    color: white;
    text-align: left;
    margin-left: 22%;
    margin-right: 15%;
    font-size: 1.2em;
    line-height: 160%;
    margin-bottom: 1%;
    margin-top: -3.5%;

}

/* quatrième bloc */

.paratitre4 {

    text-align: left;
    color: white;
    font-size: 3em;
    margin-top: 3%;
    line-height: 117%;
    margin-right: 53.7%;
    margin-top: 5.5%;

}

.logo-holder4 {

    width: 180px;
    height: 220px;
    position: relative;
    margin: 0 auto ;
    margin-left: 5%;
    margin-top: 7.2%;

}

.paragraphe4 {

    color: white;
    text-align: left;
    margin-left: 22%;
    margin-right: 15%;
    font-size: 1.2em;
    line-height: 160%;
    margin-bottom: 1%;
    margin-top: -3.5%;

}

/* première animaion */ 

.bar {

    position: relative;
    height: 8px;
    background: #6a6a6a;
    width:  0%;
    top: 0px;
    left: 18px;
    margin-top: 9px;
    box-shadow: 0 0 3px rgba(192,192,192,0.9);
    
}

.bar.fill1 {

    animation: fill-1 5s infinite alternate, colors-8 5s infinite alternate;

}

.bar.fill2 {

    animation:  fill-2 5s infinite alternate, colors-7 5s infinite alternate;

}

.bar.fill3 {

    animation:  fill-3 5s infinite alternate, colors-6 5s infinite alternate;

}

.bar.fill4 {

    animation:  fill-4 5s infinite alternate, colors-5 5s infinite alternate;

}

.bar.fill5 {

    animation:  fill-5 5s infinite alternate, colors-4 5s infinite alternate;

}

.bar.fill6 {

    animation:  fill-6 5s infinite alternate, colors-3 5s infinite alternate;

}

.bar.fill7 {

    animation:  fill-7 5s infinite alternate, colors-2 5s infinite alternate;

}

.bar.fill8 {

    animation:  fill-8 5s infinite alternate, colors-1 5s infinite alternate;

}

@keyframes fill-1 {

    0%   { width: 0;}
    33%  { width: 90px;}
    66%  { width: 70px;}
    100% { width: 136px;}

}

@keyframes fill-2 {
 
    0%   { width: 0;}
    33%  { width: 60px;}
    66%  { width: 15px;}
    100% { width: 130px;}

}

@keyframes fill-3 {

    0%   { width: 0;}
    33%  { width: 30px;}
    66%  { width: 10px;}
    100% { width: 105px;}

}

@keyframes fill-4 {

    0%   { width: 0; }
    33%  { width: 50px;}
    66%  { width: 24px;}
    100% { width: 109px;}

}

@keyframes fill-5 {

    0%   { width: 0;}
    33%  { width: 98px;}
    66%  { width: 34px;}
    100% { width: 99px;}

}


@keyframes fill-6 {

    0%   { width: 0;}
    33%  { width: 52px;}
    66%  { width: 30px;}
    100% { width: 155px;}

}

@keyframes fill-7 {

    0%   { width: 0;}
    33%  { width: 65px;}
    66%  { width: 22px;}
    100% { width: 125px;}

}

@keyframes fill-8 {

    0%   { width: 0;}
    33%  { width: 50px;}
    66%  { width: 20px;}
    100% { width: 130px;}

}

/* deuxième animaion */

.bar2 {

    position: relative;
    height: 8px;
    background: #6a6a6a;
    width:  0%;
    top: 0px;
    left: 18px;
    margin-top: 9px;
    box-shadow: 0 0 3px rgba(192,192,192,0.9);
    
}

.bar2.fill9 {

    animation: fill-9 5s infinite alternate, colors-1 5s infinite alternate;

}

.bar2.fill10 {

    animation: fill-10 5s infinite alternate, colors-2 5s infinite alternate;

}

.bar2.fill11 {

    animation: fill-11 5s infinite alternate, colors-3 5s infinite alternate;

}

.bar2.fill12 {

    animation:  fill-12 5s infinite alternate, colors-4 5s infinite alternate;

}

.bar2.fill13 {

    animation:  fill-13 5s infinite alternate, colors-5 5s infinite alternate;

}

.bar2.fill14 {

    animation:  fill-14 5s infinite alternate, colors-6 5s infinite alternate;

}

.bar2.fill15 {

    animation:  fill-15 5s infinite alternate, colors-7 5s infinite alternate;

}

.bar2.fill16 {

    animation:  fill-16 5s infinite alternate, colors-8 5s infinite alternate;

}

@keyframes fill-9 {

    0%   { width: 0;}
    33%  { width: 30px;}
    66%  { width: 10px;}
    100% { width: 105px;}

}

@keyframes fill-10 {

    0%   { width: 0;}
    33%  { width: 50px;}
    66%  { width: 20px;}
    100% { width: 130px;}

}

@keyframes fill-11 {

    0%   { width: 0;}
    33%  { width: 90px;}
    66%  { width: 70px;}
    100% { width: 136px;}

}

@keyframes fill-12 {

    0%   { width: 0; }
    33%  { width: 50px;}
    66%  { width: 24px;}
    100% { width: 109px;}

}

@keyframes fill-13 {

    0%   { width: 0;}
    33%  { width: 98px;}
    66%  { width: 34px;}
    100% { width: 99px;}
  
}

@keyframes fill-14 {

    0%   { width: 0;}
    33%  { width: 30px;}
    66%  { width: 10px;}
    100% { width: 120px;}

}

@keyframes fill-15 {

    0%   { width: 0;}
    33%  { width: 48px;}
    66%  { width: 22px;}
    100% { width: 140px;}

}

@keyframes fill-16 {

    0%   { width: 0;}
    33%  { width: 65px;}
    66%  { width: 22px;}
    100% { width: 125px;}

}

/* troisième animation */

.bar3 {

    position: relative;
    height: 8px;
    background: #6a6a6a;
    width:  0%;
    top: 0px;
    left: 18px;
    margin-top: 9px;
    box-shadow: 0 0 3px rgba(192,192,192,0.9);
    
}

.bar3.fill17 {

    animation: fill-17 2.8s infinite alternate, colors-1 5.1s infinite alternate;

}

.bar3.fill18 {

    animation: fill-18 2.7s infinite alternate, colors-2 5.2s infinite alternate;

}

.bar3.fill19 {

    animation: fill-19 2.6s infinite alternate, colors-3 5.3s infinite alternate;

}

.bar3.fill20 {

    animation:  fill-20 2.5s infinite alternate, colors-4 5.4s infinite alternate;

}

.bar3.fill21 {

    animation:  fill-21 2.4s infinite alternate, colors-5 5.5s infinite alternate;
}

.bar3.fill22 {

    animation:  fill-22 2.3s infinite alternate, colors-6 5.6s infinite alternate;

}

.bar3.fill23 {

    animation:  fill-23 2.2s infinite alternate, colors-7 5.7s infinite alternate;

}

.bar3.fill24 {

    animation:  fill-24 2.1s infinite alternate, colors-8 5.8s infinite alternate;

}

@keyframes fill-17 {

    10%   { width: 0;}
    100% { width: 30px;}

}

@keyframes fill-18 {

    10%   { width: 0;}
    100% { width: 40px;}

}

@keyframes fill-19 {

    10%   { width: 0;}
    100% { width: 50px;}

}

@keyframes fill-20 {

    10%   { width: 0; }
    100% { width: 60px;}

}

@keyframes fill-21 {

    10%   { width: 0;}
    100% { width: 70px;}
  
}

@keyframes fill-22 {

    10%   { width: 0;}
    100% { width: 80px;}

}

@keyframes fill-23 {

    10%   { width: 0;}
    100% { width: 90px;}

}

@keyframes fill-24 {

    10%   { width: 0;}
    100% { width: 100px;}

}

/*quatrième animation */

.bar4 {

    position: relative;
    height: 8px;
    background: #6a6a6a;
    width:  0%;
    top: 0px;
    left: 18px;
    margin-top: 9px;
    box-shadow: 0 0 3px rgba(192,192,192,0.9);
    
}

.bar4.fill25 {

    animation: fill-25 2.27s infinite alternate, colors-8 2.27s infinite alternate;

}

.bar4.fill26 {

    animation: fill-26 2.25s infinite alternate, colors-6 2.25s infinite alternate;

}

.bar4.fill27 {

    animation: fill-27 2.23s infinite alternate, colors-4 2.23s infinite alternate;

}

.bar4.fill28 {

    animation:  fill-28 2.21s infinite alternate, colors-2 2.21s infinite alternate;

}

.bar4.fill29 {

    animation:  fill-29 2.21s infinite alternate, colors-2 2.21s infinite alternate;
}

.bar4.fill30 {

    animation:  fill-30 2.23s infinite alternate, colors-4 2.23s infinite alternate;

}

.bar4.fill31 {

    animation:  fill-31 2.25s infinite alternate, colors-6 2.25s infinite alternate;

}

.bar4.fill32 {

    animation:  fill-32 2.27s infinite alternate, colors-8 2.27s infinite alternate;

}

@keyframes fill-25 {

    10%   { width: 0;}
    100% { width: 120px;}

}

@keyframes fill-26 {

    10%   { width: 0;}
    100% { width: 100px;}

}

@keyframes fill-27 {

    10%   { width: 0;}
    100% { width: 80px;}

}

@keyframes fill-28 {

    10%   { width: 0; }
    100% { width: 60px;}

}

@keyframes fill-29 {

    10%   { width: 0;}
    100% { width: 60px;}
  
}

@keyframes fill-30 {

    10%   { width: 0;}
    100% { width: 80px;}

}

@keyframes fill-31 {

    10%   { width: 0;}
    100% { width: 100px;}

}

@keyframes fill-32 {

    10%   { width: 0;}
    100% { width: 120px;}

}

/* couleurs des animations */

@keyframes colors-1 {

    0% { background-color: rgb(129, 142, 214);}
    50% { background-color: white}
    100% { background-color: rgb(129, 142, 214);}
}

@keyframes colors-2 {

    0% { background-color: rgb(94, 111, 209);}
    50% { background-color: white}
    100% { background-color: rgb(94, 111, 209);}
}

@keyframes colors-3 {

    0% { background-color: rgb(51, 64, 141);}
    50% { background-color: white}
    100% { background-color: rgb(51, 64, 141);}

}

@keyframes colors-4 {

    0% { background-color: rgb(34, 46, 117);}
    50% { background-color: white}
    100% { background-color: rgb(34, 46, 117);}

}

@keyframes colors-5 {

    0% { background-color: rgb(23, 32, 86);}
    50% { background-color: white}
    100% { background-color: rgb(23, 32, 86);}

}

@keyframes colors-6 {

    0% { background-color: rgb(13, 21, 63);}
    50% { background-color: white}
    100% { background-color: rgb(13, 21, 63);}

}

@keyframes colors-7 {

    0% { background-color: rgb(5, 11, 45);}
    50% { background-color: white}
    100% { background-color: rgb(5, 11, 45);}
}

@keyframes colors-8 {

    0% { background-color: rgb(1, 4, 22);}
    50% { background-color: white}
    100% { background-color: rgb(1, 4, 22);}

}

/* bouton jeux video */

.games {

    border: 7px solid black;
    border-radius: 70px;
    box-shadow: 20px 20px 20px black;
    margin-bottom: 10px;

}

.jeux { 

    color: rgb(165, 159, 159);
    font-size: 2em;
    background-color: rgb(16, 15, 15);
    border: 1px solid  rgb(165, 159, 159);
    border-radius: 70px 70px 70px 70px;
    padding: 10px;
    transition: 0.3s;
    margin-top: 0;
    font-family: 'Secular One', sans-serif;

}

.jeux:hover {

    color:white;
    background: black;
    font-size: 2.3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.8em white;

}

.pagesjeux {

    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 68px;
    margin-bottom: 5%;
    border-radius: 34px;
    margin-right: 15%;

}

/* bouton consoles */

.jeux2 { 
    
    color: rgb(165, 159, 159);
    font-size: 2em;
    background-color: rgb(16, 15, 15);
    border: 1px solid  rgb(165, 159, 159);
    border-radius: 70px 70px 70px 70px;
    padding: 10px;
    transition: 0.3s;
    margin-top: 0;
    font-family: 'Secular One', sans-serif;

}

.jeux2:hover {

    color:white;
    background: black;
    font-size: 2.3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.8em white;

}

.pagesconsoles {

    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 68px;
    margin-bottom: 5%;
    border-radius: 34px;
    margin-left: 6%;

}

/* bouton manettes */

.jeux3 { 
    
    color: rgb(165, 159, 159);
    font-size: 2em;
    background-color: rgb(16, 15, 15);
    border: 1px solid  rgb(165, 159, 159);
    border-radius: 70px 70px 70px 70px;
    padding: 10px;
    transition: 0.3s;
    margin-top: 0;
    font-family: 'Secular One', sans-serif;

}

.jeux3:hover {

    color:white;
    background: black;
    font-size: 2.3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.8em white;

}

.pagesmanettes {

    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 68px;
    margin-bottom: 5%;
    border-radius: 34px;
    margin-right: 12%;

}

/* image et bouton github */

.git {

    width: 30%;
    transition: 0.3s;
    margin-bottom: 15%;
    margin-top: 3%;

}

.git:hover {

    width: 45%;

}

.pages {

    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 68px;
    margin-bottom: 25px;
    border-radius: 34px;

}

/* barre de scroll */

nav {

    background-color: black;
    position: fixed;
    width: 99.8%;
    height: 60px;
    top: -80px;
    transition: 2s;
    border: 1.8px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.scroll {

    color: rgb(165, 159, 159);
    font-size: 3em; 
    margin-top: -15px; 
    margin-left: 150px;
    
}

.scroll:hover {

    color: white;

}

.scrollbouton {

    width: auto;
    height: 33px;
    border: none;
    background: none;
    font-family: 'Secular One', sans-serif;

}

/*musique*/

#audio-player {

    margin-top: -2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#pause-btn {

    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(son-désactiver.png);
    cursor: pointer;

}

/*  deuxième ligne blanche */

.ligne2 {

    width: 88%;
    color: white;
    margin-bottom: 2%;
    margin-top: -5%;
     
}

/* faux copyright */

.fake_copyright {

    color: white;

}

/*//////////////////////////////////////////
/pour les telephons de moins de 426 pixels//
//////////////////////////////////////////*/

@media screen and (max-width: 425px) {

    body {

        background-color: red;
        background-size: cover;
        background-position: center;
        margin: 0;
        font-family: 'Secular One', sans-serif;
        text-align: center;
    
    }

    /* grand titre */

    .title {

        color: white;
        font-size: 500%;
        text-align: center;
        background-size: cover;
        background-position: center;
        padding: 10px;
        margin-top: 0;
        margin-bottom: -8%;
    
    }

    /* petit titre */

    .title2 {

        color: white;
        font-size: 110%;
        text-align: center;
        background-size: cover;
        background-position: center;
        margin-top: 3%;
        margin-bottom: -4%;
    
    }

    /* première ligne blanche */

    .ligne1 {

        width: 88%;
        color: white;
        margin-bottom: 4%;
        margin-top: -8%;
        opacity: 0;
        transform: translateX(-525px);
        animation: apparition0001 4s 3s forwards;
         
    }
    
    @keyframes apparition0001 {
    
        100% {
    
            opacity: 1;
            transform: none;
            width: 99.5%;
    
        }
    
    }
    
    /* première image */

    .imgtech {

        width: 5%;
        height: 160px;
        margin-bottom: -13%;
        border-radius: 0%;
        opacity: 0;
        animation: apparition0002 4s 3s forwards;
    
    }

    @keyframes apparition0002 {

        100% {
    
            opacity: 1;
            width: 100%;
    
        }
    
    }

    .paratitre {

        text-align: left;
        color: white;
        font-size: 1.8em;
        margin-top: -4.5%;
        line-height: 90%;
        margin-right: 40%;

    }

    .logo-holder1 {

        width: 180px;
        height: 220px;
        position: relative;
        margin: 0 auto ;
        margin-left: -60%;
        margin-top: 15%;
        margin-bottom: -2%;
    
    }


    .paragraphe {

        color: white;
        text-align: left;
        margin-left: 7%;
        margin-right: 6.2%;
        font-size: 0.8em;
        line-height: 145%;
        margin-bottom: 7%;
        margin-top: -33%;
    
    }

    .bar {

        position: relative;
        height: 5.5px;
        background: #6a6a6a;
        width: 0%;
        top: 0px;
        left: 250px;
        margin-top: 4.5px;
        box-shadow: 0 0 3px white;
        
    }

}

/*//////////////////////////////////////////
/pour les telephones de moins de 376 pixels/
//////////////////////////////////////////*/

@media screen and (max-width: 375px) {
    
    body {

        background-color: black;
        background-size: cover;
        background-position: center;
        margin: 0;
        font-family: 'Secular One', sans-serif;
        text-align: center;
    
    }

    /* grand titre */

    .title {

        color: white;
        font-size: 400%;
        text-align: center;
        background-size: cover;
        background-position: center;
        padding: 10px;
        margin-top: 0;
        margin-bottom: -8%;
    
    }

    /* petit titre */

    .title2 {

        color: white;
        font-size: 95%;
        text-align: center;
        background-size: cover;
        background-position: center;
        margin-top: 3%;
        margin-bottom: -4%;
    
    }

    /* première ligne blanche */

    .ligne1 {

        width: 88%;
        color: white;
        margin-bottom: 3%;
        margin-top: -5%;
        opacity: 0;
        transform: translateX(-525px);
        animation: apparition001 4s 3s forwards;
         
    }
    
    @keyframes apparition001 {
    
        100% {
    
            opacity: 1;
            transform: none;
            width: 99.5%;
    
        }
    
    }            

    /* première image */

    .imgtech {

        width: 5%;
        height: 130px;
        margin-bottom: -13%;
        border-radius: 0%;
        opacity: 0;
        animation: apparition002 4s 3s forwards;
    
    }

    @keyframes apparition002 {

        100% {
    
            opacity: 1;
            width: 99.5%;
    
        }
    
    }

    /* images des blocs */

    .imgaccueil {

        margin-top: -3%;
        margin-left: 1%;
        width: 88%;
        height: 160px;
        border-radius: 0%;
    
    }
    
    .imgaccueil2 {
    
        margin-top: -7%;
        margin-left: 1%;
        width: 88%;
        height: 160px;
        border-radius: 0%;
        
    }
    
    .imgaccueil3 {
    
        margin-top: -2.5%;
        margin-left: 1%;
        width: 88%;
        height: 160px;
        border-radius: 0%;
        
    }
    
    .imgaccueil4 {
    
        margin-top: -6%;
        margin-left: 1%;
        width: 88%;
        height: 160px;
        border-radius: 0%;
        
    }

    /* premier bloc */

    .paratitre {

        text-align: left;
        color: white;
        font-size: 1.6em;
        margin-top: -9%;
        line-height: 90%;
        margin-right: 10%;
        position: absolute;
        opacity: 0;
        animation: apparition003 3s 4.5s forwards;
        transform: translatey(-1000px);
    
    }

    @keyframes apparition003 {

        100% {
    
            opacity: 1;
            transform: none;

    
        }
    
    }

    .logo-holder1 {

        width: 180px;
        height: 220px;
        position: relative;
        margin: 0 auto ;
        margin-left: -27%;
        margin-top: 18%;
        margin-bottom: -2%;
        opacity: 0;
        animation: apparition004 3s 5s forwards;
        transform: translateX(-1000px);
    
    }

    @keyframes apparition004 {

        100% {
    
            opacity: 1;
            transform: none;
    
        }
    
    }

    .paragraphe {

        color: white;
        text-align: left;
        margin-left: 7%;
        margin-right: 6.2%;
        font-size: 0.8em;
        line-height: 145%;
        margin-bottom: 7%;
        margin-top: -33%;
        opacity: 0;
        animation: apparition005 3s 4.5s forwards;
        transform: translateX(-80px);
    
    }

    @keyframes apparition005 {

        100% {
    
            opacity: 1;
            transform: none;

    
        }
    
    }

    /* deuxième bloc */

    .paratitre2 {

        text-align: left;
        color: white;
        font-size: 1.6em;
        margin-top: -25%;
        line-height: 90%;
        margin-right: 10%;
        position: absolute;
    
    }

    .logo-holder2 {

        width: 180px;
        height: 220px;
        position: relative;
        margin: 0 auto ;
        margin-left: 8%;
        margin-top: 3%;
    
    }

    .paragraphe2 {

        color: white;
        text-align: left;
        margin-left: 7%;
        margin-right: 6.2%;
        font-size: 0.8em;
        line-height: 145%;
        margin-bottom: 0%;
        margin-top: -35%;
    
    }

    /* troisième blocs */

    .paratitre3 {

        text-align: left;
        color: white;
        font-size: 1.6em;
        margin-top: -25%;
        line-height: 90%;
        margin-right: 10%;
        position: absolute;
    
    }

    .logo-holder3 {

        width: 180px;
        height: 220px;
        position: relative;
        margin: 0 auto ;
        margin-left: 5%;
        margin-top: 3.5%;
    
    }

    .paragraphe3 {

        color: white;
        text-align: left;
        margin-left: 7%;
        margin-right: 6.2%;
        font-size: 0.8em;
        line-height: 145%;
        margin-bottom: 1%;
        margin-top: -35%;
    
    }

    /* quatrième bloc */

    .paratitre4 {

        text-align: left;
        color: white;
        font-size: 1.6em;
        margin-top: -25%;
        line-height: 90%;
        margin-right: 10%;
        position: absolute;
    
    }

    .logo-holder4 {

        width: 180px;
        height: 220px;
        position: relative;
        margin: 0 auto ;
        margin-left: -15%;
        margin-top: 4%;

    }

    .paragraphe4 {

        color: white;
        text-align: left;
        margin-left: 7%;
        margin-right: 6.2%;
        font-size: 0.8em;
        line-height: 145%;
        margin-bottom: 0%;
        margin-top: -35%;
    
    }

    /* première animation */

    .bar {

        position: relative;
        height: 5px;
        background: #6a6a6a;
        width: 0%;
        top: 0px;
        left: 250px;
        margin-top: 4px;
        box-shadow: 0 0 3px rgba(192,192,192,0.9);
        
    }
     
    /* deuxième animation */

    .bar2 {

        position: relative;
        height: 5px;
        background: #6a6a6a;
        width: 0%;
        top: 0px;
        left: 250px;
        margin-top: 4px;
        box-shadow: 0 0 3px rgba(192,192,192,0.9);
        
    }

    @keyframes fill-9 {

        0%   { width: 0;}
        33%  { width: 30px;}
        66%  { width: 10px;}
        100% { width: 82px;}
    
    }
    
    @keyframes fill-10 {
    
        0%   { width: 0;}
        33%  { width: 50px;}
        66%  { width: 20px;}
        100% { width: 42px;}
    
    }
    
    @keyframes fill-11 {
    
        0%   { width: 0;}
        33%  { width: 71px;}
        66%  { width: 42px;}
        100% { width: 70px;}
    
    }
    
    @keyframes fill-12 {
    
        0%   { width: 0; }
        33%  { width: 50px;}
        66%  { width: 24px;}
        100% { width: 49px;}
    
    }
    
    @keyframes fill-13 {
    
        0%   { width: 0;}
        33%  { width: 60px;}
        66%  { width: 34px;}
        100% { width: 54px;}
      
    }
    
    @keyframes fill-14 {
    
        0%   { width: 0;}
        33%  { width: 30px;}
        66%  { width: 10px;}
        100% { width: 62px;}
    
    }
    
    @keyframes fill-15 {
    
        0%   { width: 0;}
        33%  { width: 48px;}
        66%  { width: 22px;}
        100% { width: 84px;}
    
    }
    
    @keyframes fill-16 {
    
        0%   { width: 0;}
        33%  { width: 65px;}
        66%  { width: 22px;}
        100% { width: 56px;}
    
    }

    /* troisième animation */

    .bar3 {

        position: relative;
        height: 5px;
        background: #6a6a6a;
        width: 0%;
        top: 0px;
        left: 250px;
        margin-top: 4px;
        box-shadow: 0 0 3px rgba(192,192,192,0.9);
        
    }

    @keyframes fill-17 {

        10%   { width: 0;}
        100% { width: 20px;}
    
    }
    
    @keyframes fill-18 {
    
        10%   { width: 0;}
        100% { width: 30px;}
    
    }
    
    @keyframes fill-19 {
    
        10%   { width: 0;}
        100% { width: 40px;}
    
    }
    
    @keyframes fill-20 {
    
        10%   { width: 0; }
        100% { width: 50px;}
    
    }
    
    @keyframes fill-21 {
    
        10%   { width: 0;}
        100% { width: 60px;}
      
    }
    
    @keyframes fill-22 {
    
        10%   { width: 0;}
        100% { width: 70px;}
    
    }
    
    @keyframes fill-23 {
    
        10%   { width: 0;}
        100% { width: 80px;}
    
    }
    
    @keyframes fill-24 {
    
        10%   { width: 0;}
        100% { width: 90px;}
    
    }

    /* quatrième animation */

    .bar4 {

        position: relative;
        height: 5px;
        background: #6a6a6a;
        width: 0%;
        top: 0px;
        left: 250px;
        margin-top: 4px;
        box-shadow: 0 0 3px rgba(192,192,192,0.9);
        
    }
    
    /* affichage des boutons */

    .games {

        border: 7px solid black;
        border-radius: 70px;
        box-shadow: 20px 20px 20px black;
        margin-bottom: 0px;
    
    }

    /* bouton jeux video */

    .jeux { 
    
        color: rgb(165, 159, 159);
        font-size: 1.2em;
        background-color: rgb(16, 15, 15);
        border: 1px solid  rgb(165, 159, 159);
        border-radius: 70px 70px 70px 70px;
        font-family: 'Secular One', sans-serif;
        margin-left: 7%;
        width: 98%;
        height: 30%;
    
    }

    /* bouton console */

    .jeux2 { 
    
        color: rgb(165, 159, 159);
        font-size: 1.2em;
        background-color: rgb(16, 15, 15);
        border: 1px solid  rgb(165, 159, 159);
        border-radius: 70px 70px 70px 70px;
        font-family: 'Secular One', sans-serif;
        margin-left: 3.5%;
        width: 82%;
        height: 60%;
    
    }

    /* bouton manette */

    .jeux3 { 
    
        color: rgb(165, 159, 159);
        font-size: 1.2em;
        background-color: rgb(16, 15, 15);
        border: 1px solid  rgb(165, 159, 159);
        border-radius: 70px 70px 70px 70px;
        font-family: 'Secular One', sans-serif;
        margin-left: 4%;
        width: 98%;
        height: 34%;
    
    }

    /* bouton github */ 

    .git {

        width: 22%;
        margin-bottom: 5%;
        margin-top: -1%;
    
    }

    /* barre de scroll */

    nav {

        background-color: black;
        position: fixed;
        width: 99.4%;
        height: 38px;
        top: -80px;
        border: 1.8px solid white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .scroll {

        color: white;
        font-size: 1.5em; 
        margin-top: 1px; 
        margin-left: 15px;
        
    }

    .scrollbouton {

        width: auto;
        height: 33px;
        border: none;
        background: none;
        font-family: 'Secular One', sans-serif;

    }

    /*musique*/

    #audio-player {

        margin-top: -2px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #pause-btn {

        width: 28px;
        height: 28px;
        border: none;
        outline: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(son-désactiver.png);
        cursor: pointer;

    }

    /*  deuxième ligne blanche */

    .ligne2 {

        width: 88%;
        color: white;
        margin-bottom: 2%;
        margin-top: -5%;
        
    }

    /* faux copyright */

    .fake_copyright {

        color: white;
        font-size: 0.8em;
    
    }

}

/*///////////////////////////////////////////
/pour les telephones de moins de 321 pixels//
///////////////////////////////////////////*/

@media screen and (max-width: 320px) {

    body {

        background-color: black;
        background-size: cover;
        background-position: center;
        margin: 0;
        font-family: 'Secular One', sans-serif;
        text-align: center;
    
    }

    /* grand titre */

    .title {

        color: white;
        font-size: 300%;
        text-align: center;
        background-size: cover;
        background-position: center;
        padding: 10px;
        margin-top: 0;
        margin-bottom: -8%;
    
    }

    /* petit titre */

    .title2 {

        color: white;
        font-size: 80%;
        text-align: center;
        background-size: cover;
        background-position: center;
        margin-top: 3%;
        margin-bottom: -1%;
    
    }

    /* première ligne blanche */

    .ligne1 {

        width: 88%;
        color: white;
        margin-bottom: 3%;
        margin-top: -7%;
        opacity: 0;
        transform: translateX(-525px);
        animation: apparition01 4s 3s forwards;
         
    }
    
    @keyframes apparition01 {
    
        100% {
    
            opacity: 1;
            transform: none;
            width: 99.5%;
    
        }
    
    }
         
    /* première image */

    .imgtech {

        width: 5%;
        height: 105px;
        margin-bottom: -23%;
        border-radius: 0%;
        opacity: 0;
        animation: apparition02 4s 3s forwards;
    
    }

    @keyframes apparition02 {

        100% {
    
            opacity: 1;
            width: 99.5%;
    
        }
    
    }

    /* images des blocs */

    .imgaccueil {

        margin-top: -3%;
        margin-left: 1%;
        width: 5%;
        height: 135px;
        border-radius: 0%;
        opacity: 0;
        animation: apparition03 3s 7s forwards;

    }

    @keyframes apparition03 {

        100% {
    
            opacity: 1;
            width: 85.5%;
    
        }
    
    }

    .imgaccueil2 {

        margin-top: -2%;
        margin-left: 1%;
        width: 85.5%;
        height: 135px;
        border-radius: 0%;
    
    }

    .imgaccueil3 {

        margin-top: -2.5%;
        margin-left: 1%;
        width: 85.5%;
        height: 135px;
        border-radius: 0%;
    
    }

    .imgaccueil4 {

        margin-top: -3%;
        margin-left: 1%;
        width: 85.5%;
        height: 135px;
        border-radius: 0%;
    
    }

    /* premier bloc */

    .paratitre {

        text-align: left;
        color: white;
        font-size: 1.4em;
        margin-top: -9%;
        line-height: 90%;
        margin-right: 10%;
        position: absolute;
        opacity: 0;
        animation: apparition04 3s 4.5s forwards;
        transform: translatey(-1000px);
    
    }

    @keyframes apparition04 {

        100% {
    
            opacity: 1;
            transform: none;
    
        }
    
    }

    .logo-holder1 {

        width: 180px;
        height: 220px;
        position: relative;
        margin: 0 auto ;
        margin-left: -40%;
        margin-top: 25%;
        margin-bottom: -2%;
        opacity: 0;
        animation: apparition05 3s 5s forwards;
        transform: translateX(-1000px);
    
    }

    @keyframes apparition05 {

        100% {
    
            opacity: 1;
            transform: none;
    
        }
    
    }

    .paragraphe {

        color: white;
        text-align: left;
        margin-left: 7%;
        margin-right: 6.2%;
        font-size: 0.7em;
        line-height: 140%;
        margin-bottom: 7%;
        margin-top: -40%;
        opacity: 0;
        animation: apparition06 3s 4.5s forwards;
        transform: translateX(-80px);
    
    }

    @keyframes apparition06 {

        100% {
    
            opacity: 1;
            transform: none;

    
        }
    
    }

    /* deuxième bloc */

    .paratitre2 {

        text-align: left;
        color: white;
        font-size: 1.4em;
        margin-top: -35%;
        line-height: 90%;
        margin-right: 10%;
        position: absolute;
    
    }

    .logo-holder2 {

        width: 180px;
        height: 220px;
        position: relative;
        margin: 0 auto ;
        margin-left: -7%;
        margin-top: 3.5%;
    
    }

    .paragraphe2 {

        color: white;
        text-align: left;
        margin-left: 7%;
        margin-right: 6.2%;
        font-size: 0.7em;
        line-height: 140%;
        margin-bottom: 1.7%;
        margin-top: -45%;
    
    }

    /* troisième blocs */

    .paratitre3 {

        text-align: left;
        color: white;
        font-size: 1.4em;
        margin-top: -35%;
        line-height: 90%;
        margin-right: 10%;
        position: absolute;
    
    }

    .logo-holder3 {

        width: 180px;
        height: 220px;
        position: relative;
        margin: 0 auto ;
        margin-left: -8%;
        margin-top: 3.5%;
    
    }

    .paragraphe3 {

        color: white;
        text-align: left;
        margin-left: 7%;
        margin-right: 6.2%;
        font-size: 0.7em;
        line-height: 140%;
        margin-bottom: 2%;
        margin-top: -45%;
    
    }

    /* quatrième bloc */

    .paratitre4 {

        text-align: left;
        color: white;
        font-size: 1.4em;
        margin-top: -35%;
        line-height: 90%;
        margin-right: 10%;
        position: absolute;
    
    }

    .logo-holder4 {

        width: 180px;
        height: 220px;
        position: relative;
        margin: 0 auto ;
        margin-left: -27%;
        margin-top: 3.5%;

    }

    .paragraphe4 {

        color: white;
        text-align: left;
        margin-left: 7%;
        margin-right: 6.2%;
        font-size: 0.7em;
        line-height: 140%;
        margin-bottom: 2%;
        margin-top: -45%;
    
    }

    /* première animation */

    .bar {

        position: relative;
        height: 3.3px;
        background: #6a6a6a;
        width: 0%;
        top: 0px;
        left: 250px;
        margin-top: 4.6px;
        box-shadow: 0 0 3px rgba(192,192,192,0.9);
        
    }

    /* deuxième animation */

    .bar2 {

        position: relative;
        height: 3.3px;
        background: #6a6a6a;
        width: 0%;
        top: 0px;
        left: 250px;
        margin-top: 3.5px;
        box-shadow: 0 0 3px rgba(192,192,192,0.9);
        
    }

    @keyframes fill-9 {

        0%   { width: 0;}
        33%  { width: 30px;}
        66%  { width: 10px;}
        100% { width: 82px;}
    
    }
    
    @keyframes fill-10 {
    
        0%   { width: 0;}
        33%  { width: 50px;}
        66%  { width: 20px;}
        100% { width: 42px;}
    
    }
    
    @keyframes fill-11 {
    
        0%   { width: 0;}
        33%  { width: 71px;}
        66%  { width: 42px;}
        100% { width: 70px;}
    
    }
    
    @keyframes fill-12 {
    
        0%   { width: 0; }
        33%  { width: 50px;}
        66%  { width: 24px;}
        100% { width: 49px;}
    
    }
    
    @keyframes fill-13 {
    
        0%   { width: 0;}
        33%  { width: 60px;}
        66%  { width: 34px;}
        100% { width: 54px;}
      
    }
    
    @keyframes fill-14 {
    
        0%   { width: 0;}
        33%  { width: 30px;}
        66%  { width: 10px;}
        100% { width: 62px;}
    
    }
    
    @keyframes fill-15 {
    
        0%   { width: 0;}
        33%  { width: 48px;}
        66%  { width: 22px;}
        100% { width: 84px;}
    
    }
    
    @keyframes fill-16 {
    
        0%   { width: 0;}
        33%  { width: 65px;}
        66%  { width: 22px;}
        100% { width: 56px;}
    
    }

    /* troisième animation */

    .bar3 {

        position: relative;
        height: 3px;
        background: #6a6a6a;
        width: 0%;
        top: 0px;
        left: 250px;
        margin-top: 4.6px;
        box-shadow: 0 0 3px rgba(192,192,192,0.9);
        
    }

    @keyframes fill-17 {

        10%   { width: 0;}
        100% { width: 20px;}
    
    }
    
    @keyframes fill-18 {
    
        10%   { width: 0;}
        100% { width: 30px;}
    
    }
    
    @keyframes fill-19 {
    
        10%   { width: 0;}
        100% { width: 40px;}
    
    }
    
    @keyframes fill-20 {
    
        10%   { width: 0; }
        100% { width: 50px;}
    
    }
    
    @keyframes fill-21 {
    
        10%   { width: 0;}
        100% { width: 60px;}
      
    }
    
    @keyframes fill-22 {
    
        10%   { width: 0;}
        100% { width: 70px;}
    
    }
    
    @keyframes fill-23 {
    
        10%   { width: 0;}
        100% { width: 80px;}
    
    }
    
    @keyframes fill-24 {
    
        10%   { width: 0;}
        100% { width: 90px;}
    
    }

   /* quatrième animation */
   
   .bar4 {

    position: relative;
    height: 3px;
    background: #6a6a6a;
    width: 0%;
    top: 0px;
    left: 250px;
    margin-top: 4.6px;
    box-shadow: 0 0 3px rgba(192,192,192,0.9);
    
    }

    /* affichage des boutons */

    .games {

        border: 7px solid black;
        border-radius: 70px;
        box-shadow: 20px 20px 20px black;
        margin-bottom: 0px;
    
    }

    /* bouton jeux video */

    .jeux { 
    
        color: rgb(165, 159, 159);
        font-size: 1.2em;
        background-color: rgb(16, 15, 15);
        border: 1px solid  rgb(165, 159, 159);
        border-radius: 70px 70px 70px 70px;
        font-family: 'Secular One', sans-serif;
        margin-left: 6%;
        width: 98%;
        height: 60%;
    
    }

    /* bouton console */

    .jeux2 { 
    
        color: rgb(165, 159, 159);
        font-size: 1.2em;
        background-color: rgb(16, 15, 15);
        border: 1px solid  rgb(165, 159, 159);
        border-radius: 70px 70px 70px 70px;
        font-family: 'Secular One', sans-serif;
        margin-left: -3%;
        width: 93%;
        height: 60%;
    
    }

    /* bouton manette */

    .jeux3 { 
    
        color: rgb(165, 159, 159);
        font-size: 1.2em;
        background-color: rgb(16, 15, 15);
        border: 1px solid  rgb(165, 159, 159);
        border-radius: 70px 70px 70px 70px;
        font-family: 'Secular One', sans-serif;
        margin-left: 4%;
        width: 98%;
        height: 60%;
    
    }

    /* bouton github */ 

    .git {

        width: 20%;
        margin-bottom: 3%;
        margin-top: -1%;
    
    }

    /* barre de scroll */

    nav {

        background-color: black;
        position: fixed;
        width: 99.3%;
        height: 35px;
        top: -80px;;
        border: 1.7px solid white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .scroll {

        color: white;
        font-size: 1.4em; 
        margin-top: 2px; 
        margin-left: 7.5px;
        
    }

    .scrollbouton {

        width: auto;
        height: 33px;
        border: none;
        background: none;
        font-family: 'Secular One', sans-serif;

    }

    /*musique*/

    #audio-player {

        margin-top: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    #pause-btn {
    
        width: 25px;
        height: 25px;
        border: none;
        outline: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(son-désactiver.png);
        cursor: pointer;
    
    }

    /*  deuxième ligne blanche */

    .ligne2 {

        width: 88%;
        color: white;
        margin-bottom: 2%;
        margin-top: -5%;
        
    }
    
    /* faux copyright */

    .fake_copyright {

        color: white;
        font-size: 0.6em;
    
    }

}