@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {

    background-color: black;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Secular One', sans-serif;
    text-align: center;

}

.title {

    color: white;
    font-size: 1000%;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-top: 0;
    margin-bottom: -4%;

}

hr {

    width: 80%;
    color: white;
    margin-bottom: 3%;
     
}

.imgtech {

    width: 80%;
    height: 410px;
    margin-bottom: 5%;

}

.games {

    border: 7px solid black;
    border-radius: 70px;
    box-shadow: 20px 20px 20px black;
    margin-bottom: 10px;

}

.jeux { 

    color: rgb(165, 159, 159);
    font-size: 2em;
    background-color: rgb(16, 15, 15);
    border: 1px solid white;
    border-radius: 70px 70px 70px 70px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    display: block;
    transition: 0.3s;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Secular One', sans-serif;

}

.jeux:hover {

    color:white;
    background: black;
    font-size: 2.3em;

}

.pages {

    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 68px;
    margin-bottom: 25px;
    border-radius: 34px;

}

.github {

    width: 40%;
    height: 10%;

}

.intro {

    background-color: #008a8a;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 75px;
    margin-right: 35%;
    margin-left: 35%;

}

nav {

    background-color: black;
    position: fixed;
    width: 99.8%;
    height: 60px;
    top: -80px;
    transition: 2s;
    border: 1.8px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.scroll:hover {

    color:white;

}

.scroll {

    color: rgb(165, 159, 159);
    font-size: 3em; 
    margin-top: -15px; 
    margin-left: 100px;
    
}

.scrollbouton {

    width: auto;
    height: 33px;
    border: none;
    background: none;
    font-family: 'Secular One', sans-serif;

}

.fake_copyright {

    margin-bottom: 50%;
    color: white;

}