body{

    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;

}

.title{

    color: rgb(92, 184, 153);
    font-family: 'Secular One', sans-serif;
    font-size: 1000%;
    text-align: center;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-top: 0;

}

.title2{

    color: rgb(92, 184, 153);
    font-family: 'Secular One', sans-serif;
    font-size: 800%;
    text-align: center;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-top: 0;

}


.games{
    border: 5px solid black;
    border-radius: 70px 70px 70px 70px;
    box-shadow: 20px 20px 20px black;
    margin-bottom: 10px;
}



.jeux  { 

    color: rgb(92, 184, 153);
    font-family: 'Secular One', sans-serif;
    font-size: 2em;
    background-color: #008a8a;
    border: 5px solid black;
    border-radius: 70px 70px 70px 70px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    display: block;
    transition: 0.3s;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}



.jeux:hover {

    color: rgb(109,10,231);
    background: #ff7575;

}



.pages {

    background: none;
    border: none;
    margin: 0;
    padding: 0;

}



.center {

    text-align: center;

}



.intro {

    font-family: 'Secular One', sans-serif;
    background-color: #008a8a;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
    margin-right: 35%;
    margin-left: 35%;
}


.next {

    font-family: 'Secular One', sans-serif;
    margin-left: 20px;
    background-color: #008a8a;
    padding: 30px;
    border-radius: 100px;
    border-color: black;
    border-style: solid;

}