/* la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*///////////////////////////////////////////
///////////pour les orndinateurs/////////////
///////////////////////////////////////////*/

body {

    background-color: white;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Secular One', sans-serif;
    text-align: center;

}

/* transition de la page */

.transition {

    animation: apparition 2.5s ease-out forwards;

}

@keyframes apparition {

    100% {

        background-color: black;

    }

}

/* grand titre */

.title {

    color: white;
    font-size: 1000%;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-top: 0;
    opacity: 0;
    transform: translateX(-60px);
    animation: apparition2 3s 2s ease-out forwards;

}

@keyframes apparition2 {

    100% {

        opacity: 1;
        transform: none;

    }

}

/* première ligne blanche */

.ligne1 {

    width: 10%;
    color: white;
    margin-bottom: 2%;
    margin-top: -13%;
    opacity: 0;
    transform: translateX(-525px);
    animation: apparition3 4s 3s forwards;

}

@keyframes apparition3 {

    100% {

        opacity: 1;
        transform: none;
        width: 88%;

    }

}