/* la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*///////////////////////////////////////////
///////////pour les orndinateurs/////////////
///////////////////////////////////////////*/

* {

    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
    padding: 0;

}

body {

    background-color: black;
    text-align: center;
    margin: 0;

}

/* grand titre */

.title {

    color: white;
    font-size: 1000%;
    margin-bottom: -4.7%;
    margin-top: 0;
    opacity: 0;
    transform: translateY(-200px);
    animation: apparition1 1.5s 0.5s ease-out forwards;

}

@keyframes apparition1 {

    100% {

        opacity: 1;
        transform: none;

    }

}

/* première ligne blanche */

.ligne1 {

    width: 10%;
    color: white;
    opacity: 0;
    animation: apparition2 3s 1s forwards;
     
}

@keyframes apparition2 {

    100% {

        opacity: 1;
        width: 88%;

    }

}